{% extends 'base_main.html' %}
{% load static %}
<!-- Content Wrapper. Contains page content -->
{% block Content_Wrapper %}
    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
    <div class="tab-content">
        <div class="tab-empty">
            <h2 class="display-4">测试内容</h2>
        </div>
        <div class="tab-loading">
            <div>
                <h2 class="display-4">Loading <i class="fa fa-sync fa-spin"></i></h2>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
{% endblock Content_Wrapper%}