{% extends 'base_main.html' %}
{% load static %}
<!-- Content Wrapper. Contains page content -->
{% block Content_Wrapper %}
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Post type</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item active">
                                        <a href="{% url 'Author:myposts' %}?status=0" class="nav-link">
                                            <i class="fas fa-users"></i> All
                                            <span class="badge badge-light float-right"> {{ list_max }} </span>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="{% url 'Author:myposts' %}?status=1" class="nav-link">
                                             Public
                                            <span class="badge badge-danger float-right">{{ list_send_num }}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'Author:myposts' %}?status=2" class="nav-link">
                                             Private
                                            <span class="badge bg-primary float-right">{{ list_receive_num }}</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'Author:myposts' %}?status=3" class="nav-link">
                                             Unlisted
                                            <span class="badge badge-info float-right">{{ list_solve_num }}</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'Author:myposts' %}?status=3" class="nav-link">
                                             FriendsOnly
                                            <span class="badge badge-secondary float-right">{{ list_solve_num }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Post List</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Post Search">
                                        <div class="input-group-append">
                                            <div class="btn btn-primary">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="mailbox-controls">


                                    <!-- /.btn-group -->
                                    <a href="{% url 'Author:myposts' %}?status={{ status }}&page=1" class="btn btn-default btn-sm">
                                        <i class="fas fa-sync-alt"></i>
                                    </a>
                                    <div class="float-right">
                                        {{ page_count_start }}-{{ page_count_end }}/{{ recordset_max }}
                                        <div class="btn-group">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination pagination-lg">

                                                    {% if page.has_previous %}
                                                        <li>
                                                            <a href="{% url 'Author:myposts' %}?status={{ status }}&page={{ page.previous_page_number }}"
                                                               class="btn btn-default btn-sm" aria-label="previous">
                                                                <i class="fas fa-chevron-left"></i>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled">
                                                            <a href="#" aria-label="previous page" class="btn btn-default btn-sm">
                                                                <i class="fas fa-chevron-left"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if page.has_next %}
                                                        <li>
                                                            <a href="{% url 'Author:myposts' %}?status={{ status }}&page={{ page.next_page_number }}"
                                                               aria-label="next page" class="btn btn-default btn-sm">
                                                                <i class="fas fa-chevron-right"></i>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled">
                                                            <a href="#" class="btn btn-default btn-sm" aria-label="next">
                                                                <i class="fas fa-chevron-right"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- /.btn-group -->
                                    </div>
                                    <!-- /.float-right -->
                                </div>
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover table-striped">
                                        <tbody>
                                        {% for question in page %}
                                            <tr>

                                                {% if question.visibility == 1 %}
                                                    <td class="mailbox-star"><span
                                                            class="badge badge-danger float-md-left">Public</span></td>
                                                {% elif question.visibility == 2 %}
                                                    <td class="mailbox-star"><span
                                                            class="badge bg-primary float-md-left">Private</span>
                                                    </td>
                                                {% elif question.visibility == 3 %}
                                                    <td class="mailbox-star"><span
                                                            class="badge badge-info float-md-left">Unlisted</span>
                                                    </td>
                                                {% elif question.visibility == 4 %}
                                                    <td class="mailbox-star"><span
                                                            class="badge badge-secondary float-md-left">Friend only</span>
                                                    </td>
                                                {% endif %}
                                                <td class="mailbox-name"><a
                                                        href="{% url 'Author:myposts' %}?listid={{ question.id }}"
                                                        target="_blank">{{ question.title }}</a>
                                                </td>
                                                <td class="mailbox-subject"><b>{{ question.categories }}</b>
                                                </td>
                                                <td class="mailbox-date">{{ question.published }}</td>
                                                </td>
                                                <td class="mailbox-date">{{ question.id }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <!-- /.table -->
                                </div>
                                <!-- /.mail-box-messages -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer p-0">

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>


    </div>
    <!-- ./wrapper -->
{% endblock Content_Wrapper %}
