{% extends 'base.html' %}
{% load static %}
{% block title %}US教育问答平台{% endblock title %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block bodyclass %}class="hold-transition sidebar-mini"{% endblock bodyclass %}
{% block body %}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">问题详情</h3>

                <div class="card-tools">
                  <a href="#" class="btn btn-tool" title="Previous"><i class="fas fa-chevron-left"></i></a>
                  <a href="#" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="mailbox-read-info">
                  <h5>我有一道题不会做啊</h5>
                  <h6>&nbsp<span class="badge badge-danger float-left">待处理</span>TO：张天慧
                    <span class="mailbox-read-time float-right">2021年8月19日 8:15:30</span>
                  </h6>

                  <h6>&nbsp<span class="badge bg-primary float-left">已派发-张天慧老师</span>

                  </h6>
                  <h6>&nbsp
                    <span class="mailbox-read-time float-right">5分钟之前</span>
                  </h6>

                </div>
                <!-- /.mailbox-read-info -->
                <div class="mailbox-controls with-border text-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Delete">
                      <i class="far fa-trash-alt"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply">
                      <i class="fas fa-reply"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward">
                      <i class="fas fa-share"></i>
                    </button>
                  </div>
                  <!-- /.btn-group -->
                  <button type="button" class="btn btn-default btn-sm" title="Print">
                    <i class="fas fa-print"></i>
                  </button>
                </div>
                <!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                  <p>老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难
                    老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难
                    老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难
                    老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难
                    老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难
                    老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难
                    老师这道题有点难啊有点难老师这道题有点难啊有点难老师这道题有点难啊有点难
                  </p>
                </div>
                <!-- /.mailbox-read-message -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer bg-white">
                <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
                  <li>
                    <span class="mailbox-attachment-icon"><i class="far fa-file-pdf"></i></span>

                    <div class="mailbox-attachment-info">
                      <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i>
                        Sep2014-report.pdf</a>
                      <span class="mailbox-attachment-size clearfix mt-1">
                        <span>1,245 KB</span>
                        <a href="#" class="btn btn-default btn-sm float-right"><i
                            class="fas fa-cloud-download-alt"></i></a>
                      </span>
                    </div>
                  </li>
                  <li>
                    <span class="mailbox-attachment-icon"><i class="far fa-file-word"></i></span>

                    <div class="mailbox-attachment-info">
                      <a href="#" class="mailbox-attachment-name"><i class="fas fa-paperclip"></i> App
                        Description.docx</a>
                      <span class="mailbox-attachment-size clearfix mt-1">
                        <span>1,245 KB</span>
                        <a href="#" class="btn btn-default btn-sm float-right"><i
                            class="fas fa-cloud-download-alt"></i></a>
                      </span>
                    </div>
                  </li>
                  <li>
                    <span class="mailbox-attachment-icon has-img"><img src="../../dist/img/photo1.png"
                        alt="Attachment"></span>

                    <div class="mailbox-attachment-info">
                      <a href="#" class="mailbox-attachment-name"><i class="fas fa-camera"></i> photo1.png</a>
                      <span class="mailbox-attachment-size clearfix mt-1">
                        <span>2.67 MB</span>
                        <a href="#" class="btn btn-default btn-sm float-right"><i
                            class="fas fa-cloud-download-alt"></i></a>
                      </span>
                    </div>
                  </li>
                  <li>
                    <span class="mailbox-attachment-icon has-img"><img src="../../dist/img/photo2.png"
                        alt="Attachment"></span>

                    <div class="mailbox-attachment-info">
                      <a href="#" class="mailbox-attachment-name"><i class="fas fa-camera"></i> photo2.png</a>
                      <span class="mailbox-attachment-size clearfix mt-1">
                        <span>1.9 MB</span>
                        <a href="#" class="btn btn-default btn-sm float-right"><i
                            class="fas fa-cloud-download-alt"></i></a>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /.card-footer -->
              <div class="card-footer">
                <div class="float-right">
                  <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply</button>
                  <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward</button>
                </div>
                <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</button>
                <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  </div>
  <!-- ./wrapper -->
</body>
{% endblock body %}

{% block bottomfiles %}

{% endblock bottomfiles %}
