{% extends 'base_main.html' %}
{% load static %}
{% load markdown_extras %}
<!-- Content Wrapper. Contains page content -->
{% block Content_Wrapper %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

      <!-- Default box -->

        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
              </thead>

              <tbody>
                {% for post in page_object.object_list %}
                <div class="card" >
                  <div class="card-header">
                      {% if post.author.host == curr_host %}
                            <h3><a href="{% url "Author:specific_post" post.author.id post.id %}">{{ post.title }}</a></h3>
                      {% else %}
                            {% if post.url %}
                            <h3><a href="{% url "Author:remote_specific_post" %}?post_url={{ post.url }}">{{ post.title }}</a></h3>
                            {% else %}
                            <h3><a href="{% url "Author:remote_specific_post" %}?post_url={{ post.id }}">{{ post.title }}</a></h3>
                            {% endif %}
                      {% endif %}
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="activity">
                        <!-- Post -->

                        <div class="post">
                          <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="{% static 'mine/images/default_avatar.png' %}" alt="user image">
                            <span class="username">
                                {% if post.author.host == curr_host %}
                                    <a href="{% url 'Author:profile' post.author.id %}" class="float-right btn-tool">{{ post.author.username }}</a>
                                {% else %}
                                    {% if post.url %}
                                    <a href="{% url 'Author:remote_author_profile'%}?url={{  post.author.url  }}" class="float-right btn-tool">{{ post.author.displayName }}</a>
                                    {% else %}
                                    <a href="{% url 'Author:remote_author_profile'%}?url={{  post.author.id  }}" class="float-right btn-tool">{{ post.author.displayName }}</a>
                                    {% endif %}
                                {% endif %}
                            </span>
                            {% if post.author.host == curr_host %}
                            <span class="description">{{ post.published}}</span>
                            {% else %}
                            <span class="description"> Remote</span>
                            {% endif %}
                              {% if post.image%}
                                        <div class="card-img-bottom">
                                         <img src="{{ post.image }}" class="img-responsive" style="width: auto; lenth: auto; float: right; margin-right: auto;" />
                                        </div>
                                {% endif %}
                          </div>
                          <!-- /.user-block -->
                          <p>
                              {% if post.contentType == 'text/plain' %}
                                {{ post.content }}
                              {% else %}
                                  {{ post.content | markdown | safe }}
                              {% endif %}
                          </p>

                          <!--p>
                            <a href="" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                            <a href="" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                            <span class="float-right">
                              <a href="" class="link-black text-sm">
                                <i class="far fa-comments mr-1"></i> {{ post.comment.count}}
                              </a>
                            </span>
                          </p>


                          <input class="form-control form-control-sm" type="text" placeholder="Type a comment"-->
                        </div>
                        <!-- /.post -->
                      </div>
                      <!-- /.tab-pane -->

                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                  <div class="card-footer">
                     <p>
                     categories:{{ post.categories}}
                     </p>
                  </div>
                </div>
                {% endfor %}
              </tbody>
          </table>
        </div>


        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
                <li>
                  <a href="{% url 'Author:all_public_posts' %}?page={{current_page}}&&size={{ page_size }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% for page_index in page_range %}
                    <li><a href="{% url 'Author:all_public_posts' %}?page={{ page_index }}&&size={{ page_size }}">{{ page_index }}</a></li>
                {% endfor %}
                <li>
                  <a href="{% url 'Author:all_public_posts' %}?page={{current_page}}&&size={{ page_size }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            </ul>
            </nav>
        </div>
        <!-- /.card-body -->
      <!-- /.card -->

    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->
{% endblock Content_Wrapper%}
