{% extends 'base_main.html' %}
{% load static %}
<!-- Content Wrapper. Contains page content -->
{% block Content_Wrapper %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

      <!-- Default box -->

        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
              </thead>
              <tbody>
                {%for friend in friends%}
                  <tr>
                    <div class="card bg-light d-flex flex-fill">
                      <div class="card-header text-muted border-bottom-0">
                          {{type}}
                      </div>
                      <div class="card-body pt-0">
                          <div class="row">
                          {% if friend.profile_image %}
                                <img src="{{ friend.profile_image }}" width="128px" height="128px" alt="user-avatar" class="img-circle img-fluid">
                          {% elif author.profileImage %}
                                <img src="{{ friend.profileImage }}" width="128px" height="128px" alt="user-avatar" class="img-circle img-fluid">
                          {% else %}
                                <img src="{% static 'mine/images/default_avatar.png' %}" alt="user-avatar" class="img-circle img-fluid">
                          {% endif %}
                          <div class="col-7">
                              {% if friend.displayName %}
                              <h2 class="lead"><b>{{ friend.displayName }}</b></h2>
                              {% else %}
                              <h2 class="lead"><b>{{ friend.username }}</b></h2>

                              {% endif %}
                              <p class="text-muted text-sm"><b>github: </b> {{ friend.github }} </p>
                              <ul class="ml-4 mb-0 fa-ul text-muted">
                              </ul>

                          </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="text-right">

                         {% if friend.host == current_host %}
                          <a href="{% url 'Author:profile' friend.id %}" class="btn btn-sm btn-primary">
                              <i class="fas fa-user"></i> View Profile
                          </a>
                              {%else%}
                          <form id='remote_author_url' method="get" action={% url 'Author:remote_author_profile' %}>
                              <input type="hidden" id="url" name="url" value={{ author.url }}>
                              <button class="btn btn-sm btn-primary" type="submit" >
                                  <i class="fas fa-user"></i> View Profile(remote)
                              </button>
                          </form>
                              {%endif%}
                          </div>
                      </div>
                      </div>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
  </div>
{% endblock Content_Wrapper%}
