<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>All Authors with pages</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body>
<ul>
    {% for author in page_object.object_list %}
        <li><a href="{% url 'Author:profile' author.id %}">{{ author.username }}</a></li>
    {% endfor %}
</ul>
<ul>
    {% for page_index in page_range %}
        <li><a href="{% url 'Author:all_authors' %}?page={{ page_index }}">{{ page_index }}</a></li>
    {% endfor %}
</ul>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page_index in page_range %}
        <li><a href="{% url 'Author:all_authors' %}?page={{ page_index }}">{{ page_index }}</a></li>
    {% endfor %}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


</body>
</html>