{% extends 'base_no_content.html' %}
{% load static %}
{% block title %}Social Network{% endblock title %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block bodyclass %}class="hold-transition sidebar-mini layout-fixed"
    data-panel-auto-height-mode="height"{% endblock bodyclass %}
{% block body %}
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url "Author:newpost" %}" role="button"><i class="fa fa-pen"> create post</i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url "Author:all_authors" %}" role="button"><i class="fa fa-group"> All Authors</i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                  <i class="fas fa-search"></i>
                </a>
                <div class="navbar-search-block">
                  <form method="get" action={% url 'Author:search_user' %} class="form-inline">
                    <div class="input-group input-group-sm">
                      <input class="form-control form-control-navbar" type="text" name='q' placeholder="Search Authors" aria-label="Search">
                      <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                        <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-user"></i>
                        <span class="block m-t-xs"><strong class="font-bold">{{ current_author.username }}</strong></span>
                        <span class="text-muted text-xs block">{{ rolename }}<b class="caret"></b></span>
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">Account Management</span>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'Author:edit_profile' %}" class="dropdown-item">
                            <i class="fas fa-address-book mr-2"></i> Edit Info
                        </a>

                        <div class="dropdown-divider"></div>
                        <a href="{% url 'Author:logout' %}"  class="dropdown-item">
                            <i class="fas fa-sign-out-alt mr-2"></i> Logout

                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">Cancel</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">#}
{#                        <i class="fas fa-th-large"></i>#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </nav>


        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="{% static 'mine/images/img.png' %}" alt="Logo Placeholder"
                     class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Welcome</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        {% if current_author.profile_image %}
                            <img src="{{ current_author.profile_image }}" class="img-circle elevation-2"
                                 alt="User Image">
                        {% else %}
                            <img src="{% static 'mine/images/default_avatar.png' %}" class="img-circle elevation-2"
                                 alt="User Image">
                        {% endif %}
                    </div>
                    <div class="info">
                        <a href="#">
                <span class="clear">
                    <span class="block m-t-xs"><strong class="font-bold">{{ current_author.username }}</strong></span>
                    <span class="text-muted text-xs block">{{ rolename }}<b class="caret"></b></span>
                </span>
                        </a>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    My Connection
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url "Author:my_list" 'follows' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>My Following</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "Author:my_list" 'followers'  %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>My Follower</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url "Author:my_list" 'friends'  %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Friends</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Local Posts
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Author:mystream' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Stream</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'Author:myposts' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>My Posts</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-envelope"></i>
                                <p>
                                    Inbox
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Author:inter_FRinbox' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Friend Request</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Author:inter_postinbox' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Posts</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Author:inter_likeinbox' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Likes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    All Posts
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'Author:all_public_posts' %}" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All Public Posts</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>


        <!-- Content Wrapper. Contains page content -->
        {% block Content_Wrapper %}
        {% endblock Content_Wrapper%}

        {% block Right_Slider %}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        {% endblock Right_Slider %}
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

{% endblock body %}

{% block bottomfiles %}
    <script src="{% static 'mine/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- overlayScrollbars -->
    <script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
{% endblock bottomfiles %}
