<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'base_main.html' %}
{% load static %}
<!-- Content Wrapper. Contains page content -->
{% block Content_Wrapper %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

      <!-- Default box -->

        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
              </thead>

              <tbody>
                {%for friend in friends%}
                  <tr>
                    <div class="card bg-light d-flex flex-fill">
                      <div class="card-header text-muted border-bottom-0">
                          {{type}}
                      </div>
                      <div class="card-body pt-0">
                          <div class="row">
                          <img src="{{ friend.profile_image }}}" alt="user-avatar" class="img-circle img-fluid">

                          <div class="col-7">
                              <h2 class="lead"><b>{{ friend.displayName }}</b></h2>
                              <p class="text-muted text-sm"><b>github: </b> {{ friend.github }} </p>
                              <p class="text-muted text-sm"><b>url: </b> {{ friend.url }} </p>
                              <ul class="ml-4 mb-0 fa-ul text-muted">
                              </ul>

                          </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="text-right">
                            {% if friend.host == current_host %}
                          <a href="{% url 'Author:un_befriend' id=friend.uuid delete=delete %}" class="btn btn-sm bg-teal">
                              <i class="fas fa-comments"></i> {{delete}}
                          </a>
                          <a href="{% url 'Author:profile' friend.uuid %}" class="btn btn-sm btn-primary">
                              <i class="fas fa-user"></i> View Profile
                          </a>
                              {%else%}

                              <form id='remote_friend_url' method="get" action={% url 'Author:remote_un_befriend' delete=delete %}>
                              <input type="hidden" id="friend_url" name="url" value={{ friend.url }}>
                              <button class="btn btn-sm btn-primary" type="submit" >
                                  <i class="fas fa-user"></i> {{delete}}(remote)
                              </button>
                          </form>
                          <form id='remote_author_url' method="get" action={% url 'Author:remote_author_profile' %}>
                              <input type="hidden" id="author_url" name="url" value={{ friend.url }}>
                              <button class="btn btn-sm btn-primary" type="submit" >
                                  <i class="fas fa-user"></i> View Profile(remote)
                              </button>
                          </form>
                              {%endif%}
                          </div>
                      </div>
                      </div>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
  </div>
{% endblock Content_Wrapper%}</title>
</head>
<body>

</body>
</html>
