{% extends 'base_main.html' %}
{% load static %}
{% block title %}POST{% endblock title %}

{% load markdown_extras %}
{% block Content_Wrapper %}
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h1> {{post.title}} </h1>
                            </div>
                            <div class="card-body">

                              <div class="mailbox-read-info">
                                <img class="img-size-64" src="{% static 'mine/images/default_avatar.png' %}" alt="user image">
                                <span class="description">Author:
                                  <a href="{% url 'Author:profile' post.author.id %}" class="username">{{ post.author.username }}</a>
                                  <a href="{{ post.author.github }}" class="username">{{ post.author.github }}</a>
                                </span>
                                <span class="mailbox-read-time float-right">published:{{ post.published}}<br>
                                  updated   : {{ post.updated }}
                                </span>
                              </div>

                                <div class="mailbox-read-message">
                                {% if post.contentType == 'text/plain' %}
                                {{ post.content | linebreaks }}
                                {% else %}
                                  {{ post.content | markdown | safe }}
                                {% endif %}
                                </div>
                                {% if post.image %}
                                    <div class="card-img-bottom">
                                    <img src="{{ post.image }}" class="img-responsive" style="width: 20%; float: left; margin-right: 10px;" />
                                    </div>
                                {% endif %}
                            </div>
                            <p>
                            {% if liked %}
                            <a href="{% url 'Author:unlike_post' post.author.id post.id %}" class="btn btn-sm">
                                <i class="fas fa-thumbs-down"></i> Unlike this post
                            </a>

                            {% else %}
                            <a href="{% url 'Author:like_post' post.author.id post.id %}" class="btn btn-sm">
                                <i class="fas fa-thumbs-up"></i> Like this post
                            </a>
                            {% endif %}
                            <a href="{% url 'Author:share_local_post' post.author.id post.id%}" class="link-black text-sm"><i class="fas fa-share mr-1"></i> Share</a>

                            </p>
                            <a href="{% url 'Author:post_comment' post.author.id post.id %}" class="btn btn-sm bg-blue">
                                <i class="fas fa-comment"></i> Comment
                            </a>
                            {% if isAuthor %}
                                {% if isPublic %}
                                    <!--You can only edit a public post-->
                                    <a href="{% url 'Author:edit_post' post.author.id post.id %}" class="btn btn-sm bg-blue">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                {% endif %}

                                <!--You can delete your own post-->
                                <a href="{% url 'Author:delete_post' post.author.id post.id %}" class="btn btn-sm bg-red">
                                    <i class="fas fa-trash"></i> Delete
                                </a>
                            {% endif %}

                            <div class="card-footer">

                            {% if isFriend %}
                                <!--If it's a friend post, you should see who liked it-->
                                <fieldset><legend>They liked this post:</legend></fieldset>
                                <span>{{likes_usernames}}</span>
                            {% endif %}

                            <fieldset><legend>comments:</legend></fieldset>
                            <!--show comment if is valid for view comments-->
                            {% if isPublic %}
                                {% if hasComments %}
                                    {% for comment in comments %}
                                    <span>{{comment.comment}}</span><br>
                                    {% endfor %}
                                {% endif %}

                            {% else %}
                                {% if isAuthor %}
                                    {% if hasComments %}
                                        {% for comment in comments %}
                                        <span>{{comment.comment}}</span><br>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            </div>

                            
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->


            <!-- Main content -->
            <section class="content">

              <!-- Default box -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Comments</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                            {% if hasComments %}
                                {% for comment in comments %}
                                    <div class="post clearfix">
                                      <div class="user-block">
                                        {% if comment.author.profileImage %}
                                            <img class="img-circle img-bordered-sm" src="{{ author.profileImage }}" alt="profile image">
                                        {% else %}
                                            <img class="img-circle img-bordered-sm" src="{% static 'mine/images/default_avatar.png' %}" alt="profile image">
                                        {% endif %}
                                        <span class="username">
                                            {% if comment.author.displayName %}
                                                {% if comment.author.uuid %}
                                                    <a href="{% url 'Author:profile' comment.author.uuid %}">{{ comment.author.displayName }}</a>
                                                {% else %}
                                                    <a href="{% url 'Author:remote_author_profile'%}?url={{  comment.author.url  }}"></a>
                                                {% endif %}
                                            {% else %}
                                                <a href=href="{% url 'Author:profile' comment.author.uuid %}">{{ comment.author.username }}</a>
                                            {% endif %}
                                        </span>
                                        <span class="description">{{ comment.published }}</span>
                                      </div>
                                      <p>
                                        {{comment.comment|linebreaks}}
                                      </p>
                                      <!--p>
                                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                                      </p-->
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                      </div>
                    </div>
                  </div>
            </section>


            <section class="content">

                <div class="card">
                  <div class="card-header border-0">
                    <h3 class="card-title">Who likes</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-valign-middle">
                      <thead>
                      <tr>
                        <th>Author</th>
                        <th></th>
                        <th></th>
                        <th>View</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for like_author in likes_usernames %}
                      <tr>
                        <td>
                          <img src="dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                            {{likes_usernames}}
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                          <a href="#" class="text-muted">
                            <i class="fas fa-search"></i>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </section>
    <!-- /.content -->
        </div>

    </div>
    <!-- ./wrapper -->
{% endblock Content_Wrapper %}
