{% extends 'base_main.html' %}
{% load static %}
{% block title %}POST{% endblock title %}

{% load markdown_extras %}
{% block Content_Wrapper %}
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h1> {{post.title}} </h1>
                            </div>
                            <div class="card-body">

                              <div class="mailbox-read-info">
                                <img class="img-size-64" src="{% static 'mine/images/default_avatar.png' %}" alt="user image">
                                <span class="description">Author:
                                    {% if author.username %}
                                    <a href="" class="username">{{ post.author.displayName }}</a>
                                    {% else %}
                                    <a href="" class="username">{{ post.author.displayName }}</a>
                                    {% endif %}
                                  <a href="{{ post.author.github }}" class="username">{{ post.author.github }}</a>
                                </span>
                                <span class="mailbox-read-time float-right">published:{{ post.published}}<br>
                                        remote post

                                </span>
                              </div>

                                <div class="mailbox-read-message">
                                {% if post.contentType == 'text/plain' %}
                                {{ post.content }}
                                {% else %}
                                  {{ post.content | markdown | safe }}
                                {% endif %}
                                </div>
                                {% if image != None %}
                                    <div class="card-img-bottom">
                                    <img src="{{ image }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
                                    </div>
                                {% endif %}
                            </div>
                            <p>
                            {% if liked %}
                            <a href="" class="btn btn-sm">
                                <i class="fas fa-thumbs-down"></i> Unlike this post
                            </a>

                            {% else %}
                            {% if post.url %}
                            <a href="{% url 'Author:like_remote_post' %}?post_url={{ post.url }}" class="btn btn-sm">
                            {% else %}
                            <a href="{% url 'Author:like_remote_post' %}?post_url={{ post.id }}" class="btn btn-sm">
                            {% endif %}
                                <i class="fas fa-thumbs-up"></i> Like this post
                            </a>
                            {% endif %}

                            {% if post.url %}
                                <a href="{% url 'Author:share_remote_post' %}?post_url={{ post.url }}" class="link-black text-sm"><i class="fas fa-share mr-1"></i> Share</a>
                            {% else %}
                                <a href="{% url 'Author:share_remote_post' %}?post_url={{ post.id }}" class="link-black text-sm"><i class="fas fa-share mr-1"></i> Share</a>
                            {% endif %}
                            </p>

                            <div class="card-footer">
                                <form method="post">
                                    {% csrf_token %}
                                    <fieldset>
                                        <legend>Choose your content type</legend>
                                        <input type="radio" name = "typeremote" id="typeremote" value="text/plain">text/plain<br>
                                        <input type="radio" name = "typeremote" id="typeremote" value="text/markdown">text/markdown<br>
                                    </fieldset>
                                    <textarea name="newcommentremote" id="newcommentremote" placeholder="add comments here"></textarea>
                                    <button onclick="remote_comment" class="btn" id="newCommentButton" >Comment</button>
                                </form>
                                <script type="text/javascript">
                                    function remote_comment() {
                                    var commentr1 =$("#newcommentremote").val()
                                    var type1 = $("#newcommentremote").val()
                                    if (commentr1.length<1 || commentr1.length>100 ){
                                        Toast.fire({
                                            target: document.getElementById('newcommentremote'),
                                            icon: 'info',
                                            title: 'The length of comment not satisfied'
                                        });
                                    }
                                    else{

                                        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                                        $.ajax({
                                            url: "/remotecomment/",
                                            type: "POST",
                                            headers: {'X-CSRFToken': csrftoken},
                                            data: {
                                                comment: $("#newcommentremote").val(),
                                                content_type: $("#typeremote").val()
                                            },
                                            success: function (da) {
                                                var data = eval(da)
                                                var code = data[0].code
                                                var msg = data[0].msg
                                                if (code == "200") {
                                                    Toast.fire({
                                                        icon: 'success',
                                                        title: 'Make a new remote'
                                                    });
                                                    window.location.href = '/remotecomment/'
                                                } else {
                                                    Toast.fire({
                                                        icon: 'error',
                                                        title: msg
                                                    });
                                                }
                                            }
                                        })
                                    }
                                }
                                </script>



                            </div>

                            
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
            <section class="content">

              <!-- Default box -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Comments</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          {% if isPublic %}
                            {% if hasComments %}
                                {% for comment in comments %}
                                    <div class="post clearfix">
                                      <div class="user-block">
                                        {% if comment.author.profileImage %}
                                            <img class="img-circle img-bordered-sm" src="{{ author.profileImage }}" alt="profile image">
                                        {% else %}
                                            <img class="img-circle img-bordered-sm" src="{% static 'mine/images/default_avatar.png' %}" alt="profile image">
                                        {% endif %}
                                        <span class="username">
                                            {% if comment.author.displayName %}
                                                {% if comment.author.uuid %}
                                                    <a href="{% url 'Author:profile' comment.author.uuid %}">{{ comment.author.displayName }}</a>
                                                {% else %}
                                                    <a href="{% url 'Author:remote_author_profile'%}?url={{  comment.author.url  }}"></a>
                                                {% endif %}
                                            {% else %}
                                                <a href=href="{% url 'Author:profile' comment.author.uuid %}">{{ comment.author.username }}</a>
                                            {% endif %}
                                        </span>
                                        <span class="description">{{ comment.published }}</span>
                                      </div>
                                      <p>
                                        {{comment.comment|linebreaks}}
                                      </p>
                                      <!--p>
                                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                                      </p-->
                                    </div>
                                  {% endfor %}
                                {% endif %}
                            {% else %}
                              {% if isAuthor %}
                                {% if hasComments %}
                                  {% for comment in comments %}
                                      <div class="post clearfix">
                                        <div class="user-block">
                                          {% if comment.author.profileImage %}
                                              <img class="img-circle img-bordered-sm" src="{{ author.profileImage }}" alt="profile image">
                                          {% else %}
                                              <img class="img-circle img-bordered-sm" src="{% static 'mine/images/default_avatar.png' %}" alt="profile image">
                                          {% endif %}
                                          <span class="username">
                                              {% if comment.author.displayName %}
                                                  {% if comment.author.uuid %}
                                                      <a href="{% url 'Author:profile' comment.author.uuid %}">{{ comment.author.displayName }}</a>
                                                  {% else %}
                                                      <a href="{% url 'Author:remote_author_profile'%}?url={{  comment.author.url  }}"></a>
                                                  {% endif %}
                                              {% else %}
                                                  <a href=href="{% url 'Author:profile' comment.author.uuid %}">{{ comment.author.username }}</a>
                                              {% endif %}
                                          </span>
                                          <span class="description">{{ comment.published }}</span>
                                        </div>
                                        <p>
                                          {{comment.comment|linebreaks}}
                                        </p>
                                        <!--p>
                                          <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                                        </p-->
                                      </div>
                                  {% endfor %}
                                {% endif %}
                              {% endif %}
                            {% endif %}


                        </div>
                      </div>
                    </div>
                  </div>
            </section>



        </div>

    </div>
    <!-- ./wrapper -->
{% endblock Content_Wrapper %}
