{% extends 'base_main.html' %}
{% load static %}
<!-- Content Wrapper. Contains page content -->
{% block Content_Wrapper %}
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

      <!-- Default box -->
        <div class="card-header">
            <h2> All Authors:</h2>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
              </thead>

              <tbody>
              {% for author in page_object.object_list %}
                  <tr>
                    <div class="card bg-light d-flex flex-fill">
                      <div class="card-header text-muted border-bottom-0">
                          {% if author.host == current_host %}
                                Local
                          {% else %}
                              Remote
                          {% endif %}
                      </div>
                      <div class="card-body pt-0">
                          <div class="row">
                              {% if author.profile_image %}
                                    <img src="{{ author.profile_image }}" alt="user-avatar" class="img-circle img-fluid">
                              {% elif author.profileImage %}
                                    <img src="{{ author.profileImage }}" alt="user-avatar" width="128px" height="128px" class="img-circle img-fluid">
                              {% else %}
                                    <img src="{% static 'mine/images/default_avatar.png' %}" alt="user-avatar" class="img-circle img-fluid" >
                              {% endif %}
                          <div class="col-7">
                              {% if author.username %}
                              <h2 class="lead"><b>{{ author.username }}</b></h2>
                              {% else %}
                              <h2 class="lead"><b>{{ author.displayName }}</b></h2>
                              {% endif %}
                              <br>
                              <p class="text-muted text-sm"><b>github: </b> {{ author.github }} </p>
                              <p class="text-muted text-sm"><b>url: </b> {{ author.url }} </p>
                              <ul class="ml-4 mb-0 fa-ul text-muted">
                              </ul>

                          </div>
                          </div>
                      </div>
                      <div class="card-footer">
                          <div class="text-right">
                          {% if author.host == current_host %}
                          <a href="{% url 'Author:friend_request' author.id %}" class="btn btn-sm bg-teal">
                              <i class="fas fa-comments"></i> Be-Friend
                              {%else%}
                              <form id='remote_friend_url' method="get" action={% url 'Author:remote_friend_request' %}>
                              <input type="hidden" id="remote_url" name="url" value={{ author.url }}>
                              <button class="btn btn-sm btn-primary" type="submit" >
                                  <i class="fas fa-user"></i> Be-Friend(remote)
                              </button>
                          </form>
                          {% endif %}


                          </a>
                          {% if author.host == current_host %}
                          <a { href="{% url 'Author:profile' author.id %}"} class="btn btn-sm btn-primary">
                              <i class="fas fa-user"></i> View Profile
                          </a>
                          {% else %}
                          <form id='remote_author_url' method="get" action={% url 'Author:remote_author_profile' %}>
                              <input type="hidden" id="url" name="url" value={{ author.url }}>
                              <button class="btn btn-sm btn-primary" type="submit" >
                                  <i class="fas fa-user"></i> View Profile(remote)
                              </button>
                          </form>

                          {% endif %}

                          </div>
                      </div>
                      </div>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>


        <div class="card-footer">
            <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
                <li>
                  <a href="{% url 'Author:all_authors' %}?page={{current_page}}&&size={{ page_size }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% for page_index in page_range %}
                    <li><a href="{% url 'Author:all_authors' %}?page={{ page_index }}&&size={{ page_size }}">{{ page_index }}</a></li>
                {% endfor %}
                <li>
                  <a href="{% url 'Author:all_authors' %}?page={{current_page}}&&size={{ page_size }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            </ul>
            </nav>
        </div>
        <!-- /.card-body -->
      <!-- /.card -->

    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->
{% endblock Content_Wrapper%}
